body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Use Inter font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F9FC;
  color: #1A1F36;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

button, input {
  font-family: inherit;
  font-size: inherit;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(6, 102, 235, 0.3);
}
